---
import { Image } from "astro:assets";
const { project } = Astro.props;

const { title, description, tags, cover } = project.data;
---

<article
  class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs"
>
  <a href=`/project/${project.slug}`>
    <Image class="rounded-base" src={project.data.cover} alt={title} />
  </a>
  <a href=`/project/${project.slug}`>
    <h3 class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading">
      {title}
    </h3>
  </a>
  <div class="min-h-16">
    <p class="mb-6 text-body line-clamp-2">{description}</p>
  </div>
  <div class="flex flex-wrap items-center gap-2">
    {
      tags.map((tag: string) => (
        <span class="inline-flex items-center bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded-sm">
          {tag}
        </span>
      ))
    }
  </div>
</article>
